<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../imagens/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css_pagArteMarcial/style.css">
    <title>Treino Arte Marcial</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="../view/pagina2.html">Sobre</a></li>
            <li><a href="pagina3.html">Contato</a></li>
            <li><a href="../view/pagina4.html">Treinos</a></li>
            <li><a href="pagina5.html">Planos</a></li>
        </ul>
    </nav>

    <article>
        <img src="../imagens/Logo_academia_preto.png" alt="logo_IL" class="logo">
    </article>

    <div class="container">
        <img src="../imagens/judo222.jpg" alt="Judô" class="judo">
    
        <div class="texto">
        <h1 class="titulo">Artes Marciais</h1>
        <p>As artes marciais são técnicas de combate que também envolvem aspectos mentais e filosóficos. Suas raízes estão ligadas às guerras antigas, e seu principal objetivo é desenvolver o praticante para que ele possa se defender, imobilizar adversários e, sobretudo, vivenciar uma filosofia de vida. <br>
        
        O termo "artes marciais" tem origem no latim: ars significa técnica, e martialis vem de Marte, o deus romano da guerra. Por isso, também são conhecidas como “artes da guerra”, já que surgiram em contextos de defesa e ataque durante conflitos antigos. <br>
        
        Atualmente, além do propósito contínuo de defesa pessoal e filosofia de vida, as artes marciais também têm caráter esportivo. São utilizadas em competições de alto rendimento e em contextos educacionais, promovendo o desenvolvimento motor, cognitivo e emocional dos praticantes <br>
        
        As artes marciais podem ser classificadas de diversas formas, como por foco técnico, origem e objetivos, como o Judô, Boxe, Muay Thai, MMA e muito mais que temos incluso na nossa academia!
        </p>
        </div>
    </div>   

    <hr class="divisor">

    <h1 class="avaliacao">Avaliação Física: Arte Marcial</h1>
   
        <div class="avaliação_fisica">
         <table class="treino">
            <thead>
                <tr>
                <th>Exercício</th>
                <th>Tempo</th>
                <th>Objetivo</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>Aquecimento funcional</td>
                <td>5 min</td>
                <td>Ativação muscular e mobilidade</td>
            </tr>
            <tr>
                <td>Flexões máximas</td>
                <td>1 min</td>
                <td>Resistência muscular superior</td>
            </tr>
            <tr>
                <td>Agachamentos livres</td>
                <td>1 min</td>
                <td>Resistência e potência de membros inferiores</td>
            </tr>
            <tr>
                <td>Prancha isométrica</td>
                <td>Tempo máximo</td>
                <td>Estabilidade e força de core</td>
            </tr>
            <tr>
                <td>Shuttle Run</td>
                <td>—</td>
                <td>Agilidade e mudança de direção</td>
            </tr>
            <tr>
                <td>Sprint de 20 metros</td>
                <td>—</td>
                <td>Explosão e aceleração</td>
            </tr>
            <tr>
                <td>Circuito funcional de combate</td>
                <td>3 rounds de 2 min</td>
                <td>Resistência física e condicionamento de luta</td>
            </tr>
            </tbody>
        </table>
        </div>

        <hr class="divisor">

<footer class="footer">

    <!-- Logo -->   
    <div class="footer-logo">
        <img src="../imagens/Logo Academia Sem Fundo.png" alt="" class="imagem">        
    </div>

    <!-- Redes sociais -->
    <div class="footer-social">
        <h2 class="cor_h">Siga a IronLung</h2>

        <div class="social-icons">
            <a href="https://www.instagram.com/ironlung_academia/">
                <img src="../imagens/instagram.png" alt="instagram">
            </a>
            <a href="#">
                <img src="../imagens/facebook-app-symbol.png" alt="facebook">
            </a>
            <a href="#">
                <img src="../imagens/twitter.png" alt="twitter">
            </a>
            <a href="#">
                <img src="../imagens/whatsapp.png" alt="whatsapp">
            </a>
            <a href="#">
                <img src="../imagens/linkedin.png" alt="linkedin">
            </a>
            <a href="#">
                <img src="../imagens/tik-tok.png" alt="tiktok">
            </a>
            <a href="#">
                <img src="../imagens/youtube.png" alt="youtube">
            </a>
        </div>
    </div>

    <!-- Links -->
    <div class="footer-links">

        <div class="footer-column">
            <h3>Institucional</h3>

            <a href="view/pagina2.html">Sobre</a>
            <a href="view/pagina2.html">Nossa História</a>
            <a href="pag_Personal.html">Equipe</a>
            <a href="pagina3.html">Contato</a>
            <a href="#">Privacidade</a>
        </div>

        <div class="footer-column">
            <h3>Planos</h3>

            <a href="pagina5.html">Dark Blue</a>
            <a href="pagina5.html">Iron</a>
            <a href="pagina5.html">Lung</a>
            <a href="pagina4.html">Aulas</a>
            <a href="pag_Personal.html">Personal</a>
        </div>

        <div class="footer-column">
            <h3>Corporativo</h3>

            <a href="pag_Trabalhe_Conosco.html">Trabalhe Conosco</a>
            <a href="#">Parcerias</a>
            <a href="#">Franquias</a>
            <a href="#">Divulgue sua marca</a>
            <a href="#">Suporte</a>
        </div>

    </div>

    <!-- Parte final -->
    <div class="footer-bottom">
        <p>*Consulte condições e regulamentos da academia.</p>

        <p>
            Avenida Exemplo, 1000 - João Pessoa, PB
        </p>

        <p>
            IRONLUNG ACADEMIA LTDA
        </p>

        <p>
            CNPJ: 00.000.000/0001-00
        </p>
    </div>

</footer>

</body>
</html>

</body>
</html>