<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css_pagIndividuais/style.css">
    <link rel="shortcut icon" href="../imagens/favicon.ico" type="image/x-icon">
    <title>Treino Esportes Individuais</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="../view/pagina2.html">Sobre</a></li>
            <li><a href="pagina3.html">Contato</a></li>
            <li><a href="../view/pagina4.html">Treinos</a></li>
            <li><a href="pagina5.html">Planos</a></li>
        </ul>
    </nav>

    <article>
        <img src="../imagens/Logo_academia_preto.png" alt="logo_IL" class="logo">
    </article>

    <div class="container">
        <img src="../imagens/corrida.webp" alt="Esportes Individuais" class="corrida">
    
        <div class="texto">
            <h1 class="titulo">Esportes Individuais</h1>
            <p>Os esportes individuais são essenciais para o desenvolvimento da disciplina, foco e autoconfiança do atleta, já que o desempenho depende diretamente de seu preparo físico e mental. Modalidades como corrida, natação e lutas exigem controle, resistência e constância nos treinos. <br>
            
            Em nossa academia, o treinamento para esportes individuais é voltado para potencializar o desempenho de cada atleta, respeitando suas particularidades e objetivos, com foco na evolução contínua, melhora da performance e superação de limites. <br>

            Também damos grande importância ao acompanhamento personalizado, ajustando os treinos conforme a evolução e as necessidades de cada atleta. Com metodologias modernas e foco em resultados, buscamos extrair o máximo potencial de cada pessoa, incentivando a consistência, a superação pessoal e o alcance de novos níveis de desempenho.
            </p>
        </div>
    </div> 

    <hr class="divisor">

    <h1 class="avaliacao">Avaliação Física: Esportes Coletivos</h1>
        <div class="avaliação_fisica">
         <table class="treino">
            <thead>
            <tr>
                <th>Exercício</th>
                <th>Tempo</th>
                <th>Objetivo</th>
            </tr>
            </thead>
            <tr>
                <td>Aquecimento aeróbico</td>
                <td>5 min</td>
                <td>Ativação cardiovascular</td>
            </tr>
            <tr>
                <td>Corrida contínua</td>
                <td>15 min</td>
                <td>Capacidade aeróbica</td>
            </tr>
            <tr>
                <td>Teste de mobilidade articular</td>
                <td>—</td>
                <td>Amplitude e prevenção de lesões</td>
            </tr>
            <tr>
                <td>Prancha isométrica</td>
                <td>Tempo máximo</td>
                <td>Estabilidade corporal e core</td>
            </tr>
            <tr>
                <td>Agachamentos livres controlados</td>
                <td>1 min</td>
                <td>Controle muscular e resistência</td>
            </tr>
            <tr>
                <td>Teste de frequência cardíaca</td>
                <td>—</td>
                <td>Recuperação cardiovascular</td>
            </tr>
            <tr>
                <td>Circuito funcional de resistência</td>
                <td>10 min</td>
                <td>Condicionamento físico geral</td>
            </tr>

        </table>
        </div>

    <hr class="divisor">

<footer class="footer">

    <!-- Logo -->   
    <div class="footer-logo">
        <img src="../imagens/Logo Academia Sem Fundo.png" alt="" class="imagem">        
    </div>

    <!-- Redes sociais -->
    <div class="footer-social">
        <h2 class="cor_h">Siga a IronLung</h2>

        <div class="social-icons">
            <a href="https://www.instagram.com/ironlung_academia/">
                <img src="../imagens/instagram.png" alt="instagram">
            </a>
            <a href="#">
                <img src="../imagens/facebook-app-symbol.png" alt="facebook">
            </a>
            <a href="#">
                <img src="../imagens/twitter.png" alt="twitter">
            </a>
            <a href="#">
                <img src="../imagens/whatsapp.png" alt="whatsapp">
            </a>
            <a href="#">
                <img src="../imagens/linkedin.png" alt="linkedin">
            </a>
            <a href="#">
                <img src="../imagens/tik-tok.png" alt="tiktok">
            </a>
            <a href="#">
                <img src="../imagens/youtube.png" alt="youtube">
            </a>
        </div>
    </div>

    <!-- Links -->
    <div class="footer-links">

        <div class="footer-column">
            <h3>Institucional</h3>

            <a href="view/pagina2.html">Sobre</a>
            <a href="view/pagina2.html">Nossa História</a>
            <a href="pag_Personal.html">Equipe</a>
            <a href="pagina3.html">Contato</a>
            <a href="#">Privacidade</a>
        </div>

        <div class="footer-column">
            <h3>Planos</h3>

            <a href="pagina5.html">Dark Blue</a>
            <a href="pagina5.html">Iron</a>
            <a href="pagina5.html">Lung</a>
            <a href="pagina4.html">Aulas</a>
            <a href="pag_Personal.html">Personal</a>
        </div>

        <div class="footer-column">
            <h3>Corporativo</h3>

            <a href="pag_Trabalhe_Conosco.html">Trabalhe Conosco</a>
            <a href="#">Parcerias</a>
            <a href="#">Franquias</a>
            <a href="#">Divulgue sua marca</a>
            <a href="#">Suporte</a>
        </div>

    </div>

    <!-- Parte final -->
    <div class="footer-bottom">
        <p>*Consulte condições e regulamentos da academia.</p>

        <p>
            Avenida Exemplo, 1000 - João Pessoa, PB
        </p>

        <p>
            IRONLUNG ACADEMIA LTDA
        </p>

        <p>
            CNPJ: 00.000.000/0001-00
        </p>
    </div>

</footer>
</body>
</html>