<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planos IronLung</title>
    <link rel="stylesheet" href="css_pag5/style_planos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="../imagens/favicon.ico">
</head>
<body>

    <header class="cabecalho-novo">
   <nav>
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="../view/pagina2.html">Sobre</a></li>
            <li><a href="pagina3.html">Contato</a></li>
            <li><a href="../view/pagina4.html">Treinos</a></li>
            <li><a href="pagina5.html">Planos</a></li>
        </ul>
    </nav>
        
        <div class="area-logo">
            <img src="../imagens/Logo_academia_preto.png" alt="IronLung" class="logo-principal">
        </div>
    </header>

    <main class="conteudo">
        <h2 class="titulo-principal">Compare os planos Iron Lung disponíveis</h2>
        <p class="subtitulo">Planos acessíveis para você treinar em nossa academia</p>

        <div class="container-planos">

            <div class="card card-destaque">
                <span class="tag">O MAIS PEDIDO!</span>
                <h3>Plano Dark Blue</h3>
                <p class="descricao">Treine em qualquer academia da IronLung, seja no Brasil ou na América Latina.</p>
                <div class="precos">
                    <p class="preco-antigo">DE R$ 159,90</p>
                    <p class="preco-atual"><span>R$</span> 139,00 <small>/mês</small></p>
                </div>
                <button class="botao-agendar">Contratar agora</button>
            </div>

            <div class="card">
                <h3>Plano Iron</h3>
                <p class="descricao">Nosso plano mais econômico para você se exercitar quando e quanto quiser.</p>
                <div class="precos">
                    <p class="preco-antigo"><br></p> 
                    <p class="preco-atual"><span>R$</span> 99,90 <small>/mês</small></p>
                </div>
                <button class="botao-agendar">Contratar agora</button>
            </div>

            <div class="card">
                <h3>Plano Lung</h3>
                <p class="descricao">Nosso plano pensado no seu dia a dia.</p>
                <div class="precos">
                    <p class="preco-antigo"><br></p>
                    <p class="preco-atual"><span>R$</span> 129,90 <small>/mês</small></p>
                </div>
                <button class="botao-agendar">Contratar agora</button>
            </div>

        </div>
    </main>

<footer class="footer">

    <!-- Logo -->   
    <div class="footer-logo">
        <img src="../imagens/Logo Academia Sem Fundo.png" alt="" class="imagem">        
    </div>

    <!-- Redes sociais -->
    <div class="footer-social">
        <h2 class="cor_h">Siga a IronLung</h2>

        <div class="social-icons">
            <a href="https://www.instagram.com/ironlung_academia/">
                <img src="../imagens/instagram.png" alt="instagram">
            </a>
            <a href="#">
                <img src="../imagens/facebook-app-symbol.png" alt="facebook">
            </a>
            <a href="#">
                <img src="../imagens/twitter.png" alt="twitter">
            </a>
            <a href="#">
                <img src="../imagens/whatsapp.png" alt="whatsapp">
            </a>
            <a href="#">
                <img src="../imagens/linkedin.png" alt="linkedin">
            </a>
            <a href="#">
                <img src="../imagens/tik-tok.png" alt="tiktok">
            </a>
            <a href="#">
                <img src="../imagens/youtube.png" alt="youtube">
            </a>
        </div>
    </div>

    <!-- Links -->
    <div class="footer-links">

        <div class="footer-column">
            <h3>Institucional</h3>

            <a href="view/pagina2.html">Sobre</a>
            <a href="view/pagina2.html">Nossa História</a>
            <a href="pag_Personal.html">Equipe</a>
            <a href="pagina3.html">Contato</a>
            <a href="#">Privacidade</a>
        </div>

        <div class="footer-column">
            <h3>Planos</h3>

            <a href="pagina5.html">Dark Blue</a>
            <a href="pagina5.html">Iron</a>
            <a href="pagina5.html">Lung</a>
            <a href="pagina4.html">Aulas</a>
            <a href="pag_Personal.html">Personal</a>
        </div>

        <div class="footer-column">
            <h3>Corporativo</h3>

            <a href="pag_Trabalhe_Conosco.html">Trabalhe Conosco</a>
            <a href="#">Parcerias</a>
            <a href="#">Franquias</a>
            <a href="#">Divulgue sua marca</a>
            <a href="#">Suporte</a>
        </div>

    </div>

    <!-- Parte final -->
    <div class="footer-bottom">
        <p>*Consulte condições e regulamentos da academia.</p>

        <p>
            Avenida Exemplo, 1000 - João Pessoa, PB
        </p>

        <p>
            IRONLUNG ACADEMIA LTDA
        </p>

        <p>
            CNPJ: 00.000.000/0001-00
        </p>
    </div>

</footer>

</body>
</html>